body {
  font-family: $text-main;
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5 {
  font-style: italic;
  font-weight: 700;
}

h1 {
  font-size: 31px;
}

h2 {
  font-size: 26px;
  margin-top: 0;
  margin-block-end: 0.6em;
}

h3 {
  font-size: 20px;
  margin-top: 0;
}

h4 {
  font-size: 16px;
}

a {
  color: $common-black;
}
