@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

$text-main: 'Open Sans', sans-serif;
$text-header: 'Open Sans', sans-serif;

$grey-100: #f8f4f1;
$grey-200: #bfbfbf;
$grey-300: #515151;

$common-black: #0b0000;
$primary-color: #bd1a29;
$secondary-color: #f8f4f1;
$success-color: #4b8b3b;
