.is-style-outline {
  & > a {
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: var(--wp--preset--color--black) !important;
      color: white !important;
    }
  }
}
